
@import url('src/assets/font-awesome-4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: 'Roboto Regular';
    src: url('src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto Thin';
    src: url('src/assets/fonts/Roboto-Thin.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noto Serif Bengali';
    src: url('src/assets/fonts/NotoSerifBengali-Regular.ttf') format('truetype');
  }
  
  .bengali-text {
    font-family: 'Bengali Serif', sans-serif;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    /* background-image: url('../images/bg1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /* animation: shuffleImages 210s infinite; */
    scrollbar-color: teal transparent;
    scrollbar-width: 7px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
  }
  .content {
    max-width: 1920px;
    width: 100%;
    background-color: white;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: teal;
  }
  ::-webkit-scrollbar {
    background-color: rgba(0, 128, 128, 0.5); 
  }
  
  @keyframes shuffleImages {
    0% { background-image: url('../images/bg1.jpg'); }
    14.285% { background-image: url('../images/bg2.jpg'); }
    28.571% { background-image: url('../images/bg3.jpg'); }
    42.857% { background-image: url('../images/bg4.jpg'); }
    57.143% { background-image: url('../images/bg5.jpg'); }
    71.428% { background-image: url('../images/bg6.jpg'); }
    85.714% { background-image: url('../images/bg7.jpg'); }
    100% { background-image: url('../images/bg1.jpg'); }
  }
