.container.ng-star-inserted {
    margin-top: 30px;
}
.order{
    text-align: center;
    margin: 52px auto auto auto;
    padding-top: 18px;
    position: absolute;
}
.btn2{
    font-family: Roboto Thin;
    border-bottom: 1px solid white;
    position: relative;
    left: 20px;
    height: 36px;
    background-color: teal;
}

.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
  }
  
  .center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
    user-select: none;
    pointer-events: none;
  }
  
  h4,
  h6 {
    font-weight: 400;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
  }
  
  .center .btn .btn-primary {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 7px 30px;
    background-color: teal;
    color: #fff;
    border-radius: 10px !important;
    border: none;
    border-bottom: 1px solid white;
  }
  
  th,td{
    vertical-align: middle;
    text-align: center;
  }
  
  .idq{
    cursor: pointer;
    padding: 0 5px;
    text-shadow: 0 0 10px teal;
  }
  
  .containerTop {
    padding-top: 110px;
  }
  .user-details.ng-star-inserted {
    padding-top: 30px;
  }
  .address-details.ng-star-inserted {
    margin-top: 30px;
}
.payment-method.ng-star-inserted {
  margin-top: 30px;
}
.confirm-order.ng-star-inserted {
  margin-top: 20px;
}
[class^="col-"] {
  flex: 0 0 auto;
  width: 100%;
}
